<body>
  <div class='topnav'>
      <h3>Restaurants<i class="far fa-grin-tongue"></i></h3>
  </div>
  <div class="container">
    <div id="list" class="card">
      <ul>
        <% @restaurants.each do |restaurant| %>
          <li>
          <%= link_to restaurant.name, restaurant_path(restaurant) %>
          <p><%= restaurant.category %></p>
          </li>
        <% end %>
      </ul>
      <ul>
        <li>
        <%= link_to "Add Restaurant", new_restaurant_path(@restaurant), class: "btn btn-primary" %>
      </ul>
    </div>

  </div>
</body>
