    <div class='nav' id="header">
    <h3>Restaurants<i class="far fa-grin-tongue"></i></h3>
    </div>
<div class='container'>
  <div class='card'>
    <%= simple_form_for [ @restaurant, @review ] do |f| %>
      <%= f.input :content %>
      <%= f.input :rating%>
      <%= f.submit "Submit review", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
